<h1>Numbers To Words</h1>

<form action="/" method="post">
  <label for="numberinput">Enter a number:</label>
  <input type="number" name="numberinput">

  <button type="submit">Submit</button>
</form>

<p>Your number is:</p>
<p>@Model</p>
